<style>

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .mb-n1 {
    margin-bottom: -1rem !important;
  }

</style>

<div class="row justify-content-center">
<main class="form-signin text-center shadow-lg p-3 mb-4 bg-body rounded" style="width: 400px;">
  <form action="/usuario/login" method="post">
    <img class="mb-n1" src="/img/logotipo.jfif" alt="" width="150" height="150">
    <h1 class="h3 mb-3 fw-normal">Faça seu login por favor</h1>

    <div class="form-floating mb-2">
      <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
      <label for="floatingInput">Email</label>
    </div>

    <div class="form-floating mb-2">
      <input type="password" class="form-control" id="floatingPassword" name="senha" placeholder="Password">
      <label for="floatingPassword">Senha</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>
    <div class="text-center">
        <hr class="featurette-divider invisible">
        <p class="lead text-muted fs-3"><b>Faça seu login</b> para entrar no site e usufruir dos nossos serviços! Estamos prontos para te atender e solucionar com sua procura de profissionais ou com o encontro entre você e os clientes 💙</p>
    </div>
</div>
