<h2>Profissionais dispoíveis: </h2>
<hr>

{{#each usuarios}}
    <div class="card-group">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card mt-4" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{nome}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{Profissionais.profissoes}}</h6>
                        <p class="card-text">Aqui onde ficará a descrição do profissional cadastrado</p>
                        <a href="/usuario/profissional/{{id}}" class="btn btn-primary">Verificar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <p>Nehum profissional registrado</p>
{{/each}}

