{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

        .mb-n1 {
            margin-bottom: -1rem !important;
        }
    </style>

  </head>
 
<div class="row justify-content-center">
<main class="form-signin text-center shadow-lg p-3 mb-4 bg-body rounded" style="width: 33%;">
  <form action="" method="post">
    <img class="mb-n1" src="/img/logotipo.jfif" alt="" width="150" height="150">
    <h1 class="h3 mb-3 fw-normal">Registra-se por favor</h1>

    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="floatingInput" name="nome" placeholder="name@example.com">
      <label for="floatingInput">Nome</label>
    </div>

    <div class="form-floating mb-2">
      <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
      <label for="floatingInput">Email</label>
    </div>

    <div class="form-floating mb-2">
      <input type="password" class="form-control" id="floatingPassword" name="senha" placeholder="Password">
      <label for="floatingPassword">Senha</label>
    </div>

    <div class="form-floating mb-2">
      <input type="password" class="form-control" id="floatingPassword" name="senha2" placeholder="Password">
      <label for="floatingPassword">Repita sua senha</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Registrar-se</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>
    <div class="text-center">
        <hr class="featurette-divider invisible">
        <p class="lead text-muted fs-3"><b>Seja bem vindo</b> a comunidade WorkOn! Ajudaremos você a encontrar o profissional adequado que lhe ajudará com a sua construção ou necessidade. Mas primeiro, <b>registra-se</b> para usufruir dos nossos serviços! 💙</p>
    </div>
</div>

<!--
<h3>Crie sua conta hoje: </h3>
<div class="card">
    <div class="card-body">
        <form action="" method="post">
            <label for='nome'>Nome: </label>
                <input type="text" name="nome" class="form-control" required>
            <label for="email">Email: </label>
                <input type="email" name="email" class="form-control" required>
            <label for="senha">Senha: </label>
                <input type="password" name="senha" class="form-control" required>
            <label for="senha2">Repita a sua senha: </label>
                <input type="password" name="senha2" class="form-control" required>
            <button type='submit' class='btn btn-success mt-4'>Criar conta</button>
        </form>
    </div>
</div>
-->