<div class="container-fluid py-5 text-white">
    <h1 class="display-5 fw-bold fs-1">Sobre:</h1>
    <p class="col-md-8 fs-2 mt-2">Essa aplicação foi feita por dois estudantes com objetivos de obtenção de nota da matéria Projeto de Desenvolvimento de Sistemas</p>
    <p class="col-md-8 fs-2 mt-2 fw-bold">GitHub: </p>
    <p class="col-md-8 fs-2 mt-2"> - Repositório: <br><a href="https://github.com/NicolasSales0101/workon-app">https://github.com/NicolasSales0101/workon-app</a></p>
    <p class="col-md-8 fs-2 mt-2"> - Nicolas Sales: <br><a href="https://github.com/NicolasSales0101">https://github.com/NicolasSales0101</a></p>
    <p class="col-md-8 fs-2 mt-2"> - Paulo Henrique: <br><a href="https://github.com/Paulo654">https://github.com/Paulo654</a></p>
    <a href="/" class="btn btn-primary mt-2 fs-4">← Voltar</a><br>
</div>