<h3>Cadastre-se como profissional</h3>

<!-- Parte do código responsável pela criação de um formulário para cadastro do usuário em profissional -->
<!--

    • Form com os seguintes campos:
        - profissao
        - comfirmação
    
    • Botão para enviar os dados

-->